body {
  background-color: #fde4ec; /* Rosa suave de fundo */
}

.card {
  background-color: #fff; /* Fundo branco para o cartão */
  border-radius: 20px; /* Cantos arredondados */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra suave */
}

.form-control {
  background-color: #fff; /* Fundo branco para os campos */
  border-color: #f48fb1; /* Cor rosa claro para a borda */
  color: #333; /* Cor do texto */
  border-radius: 10px; /* Cantos arredondados */
}

.btn {
  background-color: #f48fb1; /* Cor rosa claro para o botão */
  border-color: #f48fb1; /* Cor rosa claro para a borda */
  color: #fff; /* Cor do texto */
  border-radius: 20px; /* Cantos arredondados */
  transition: all 0.3s ease; /* Transição suave */
}

.btn:hover {
  background-color: #e57373; /* Cor rosa mais escura ao passar o mouse */
  border-color: #e57373; /* Cor rosa mais escura para a borda */
}

.card-title {
  color: #f48fb1; /* Cor rosa claro para o título */
}

.estilizacaoContato {
  background-color: #f9f9f9; /* Cor de fundo mais suave */
  border: 1px solid #f48fb1; /* Cor da borda */
  padding: 15px; /* Aumentar o espaçamento interno */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
  margin-bottom: 20px;
  border-radius: 8px; /* Borda mais arredondada */
  position: relative;
  transition: all 0.3s ease; /* Efeito de transição suave */
}

.estilizacaoContato:hover {
  transform: translateY(-3px); /* Efeito de levantamento suave no hover */
}

.pink-id {
  font-weight: bold;
  margin-bottom: 8px; /* Espaçamento inferior reduzido */
  color: #f48fb1; /* Cor do texto modificada */
}

.remover-contato,
.editar-contato {
  background: transparent;
  border: none;
  padding: 10px 15px; /* Reduzir o preenchimento dos botões */
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  transition: all 0.3s ease; /* Efeito de transição suave */
}

.remover-contato {
  
  background: url('https://img.icons8.com/color/48/full-trash.png');
  width: 48px; /* Definir a largura da imagem */
  height: 48px; /* Definir a altura da imagem */
  right: 10px;
}

.editar-contato {
  background: url('https://img.icons8.com/nolan/64/edit--v1.png');
  background-size:cover; /* Cobrir todo o espaço do botão */
  width: 48px; /* Definir a largura da imagem */
  height: 48px; /* Definir a altura da imagem */
  right: 50px; /* Posicionamento ajustado */
  top: 10px;
}

.remover-contato:hover,
.editar-contato:hover {
  background-color: #f48fb1; /* Cor de fundo alterada no hover */
  color: #fff; /* Cor do texto modificada no hover */
}

